---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   22px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

//MON CSS//

//Menu//

.site-logo{  
    height:80px;
    width:80px;
    float: left;
}


#choix_lang{
    position: absolute;
    z-index: 10;
    right:5px;
    text-align: right; 
    line-height: 2em; 
    display: flex;
    flex-direction: row-reverse;
    
}
.fr{
    margin-right: 5px;
    text-transform: uppercase;
}
.de{
    text-transform: uppercase;
    
}

// SLIDER //

.slideshow-container{
display: block;
    
width: 100%;

position: relative;

overflow: hidden;


}

.center{
    
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%; 
  min-height: 40vh;
  max-height: 95vh;
    
}

.numbers{

position: absolute;

top: 0;

color: #f2f2f2;

padding: 8px 12px;

font-size: 12px;

}

.myslides{

display: none;

}



/// FLECHES SLIDER ///



.fleche_gauche{
    height:100px;
    width:100px;
}

.fleche_droite{
    height:100px;
    width:100px;

}



.prev , .next{

position: absolute;

top: 50%;

padding: 16px;

margin-top: -50px;

cursor: pointer;

}

.next{

right: 0;

border-radius: 3px 0 0 3px;

}



.caption{
color:#f2e0c8;
text-shadow: black 2px 2px;

text-align: center;

position: absolute;

bottom: 42%;



}

/// fin flèches slider///







///CERCLES SLIDER ///

.dots{

z-index: 10;

width: 13px;

height: 13px;

background: gray;

display: inline-block;

border-radius: 50%;

cursor: pointer;

}

.fade{

animation-name:fade;

animation-duration:1.5s;

}

@keyframes fade{

from {opacity: 0.4;}

to {opacity: 1;}

}

.active, .dot:hover {

background-color: #333;

}




//// FIN SLIDER ///




//H1,H2,H3//

h1{
    padding: 0;
    margin: 0;
    font-family: Spectral;
    font-size: 50px;
    
}


h2{
    padding: 0;
    margin: 0;
    font-family: Spectral;
    font-size: 50px;
    
}

h3{
    padding: 0;
    margin: 0;
    font-family: Spectral;
    font-size: 25px;
    font-weight: bold;
    
}



/// TITRE H2 INTRO ///

.title_hist{
    float:right; 
    text-align: right;
}

.title_comp{
    float:left;
    text-align: left;   
}



.title_crea{
    float:right;
    text-align: right;  
}

@media screen and (max-width: 600px) {
.title_hist{
    float:none; 
    text-align: center;
}

.title_comp{
    float:none;
    text-align: center;   
}



.title_crea{
    float:none;
    text-align: center;  
}
}


///////





//HISTOIRE INTRO//

.histoire_intro{
    
    background-color: #f2e0c8;
    width:100%;
    min-height: 586px;
    
    
}

.chevalier{
    float:left;
    margin-top: 50px;
    width:300px;
    height: 300px;
    border: solid 10px #ebd6bb;
    
    
}



.text_histoire_intro{
    float: right;
    text-align: justify;
    margin-top: 50px;
    height: 400px;
    max-width:400px;
    
}



.button_hist{
    float:center;
    margin-top: 25px;
    margin-left:75px;
    color: #f2e0c8;
    text-align: center;
    height:40px;
    width:260px;
    background-color: #bd8c51;
    
}

.button_hist:hover{
background-color:#40565c;
}

////////////////////////////////

@media screen and (max-width: 600px) {

.chevalier{
    float:none;
    
}



.text_histoire_intro{
    float: none;
    text-align: justify;
    margin-top: 50px;
    
}



.button_hist{
    float:center;
    margin-top: 25px;
    margin-left:0;
    color: #f2e0c8;
    
}
}
    



/// COMPETENCES  INTRO ///


.competences_intro{
    background-color: #e8d3b6;
    width:100%;
    min-height: 586px;
    
}

.magicien{
    float:right;
    margin-top: 50px;
    width:300px;
    height: 300px;
    border: solid 10px #f2e0c8; 
    
}


.text_competences_intro{
    
    float: left;
    text-align: justify;
    margin-top: 50px;
    height: 400px;
    max-width:400px;
    
}

.button_comp{
    float:center;
    margin-top: 25px;
    margin-left:35px;
    color: #f2e0c8;
    text-align: center;
    height:40px;
    width:315px;
    background-color: #bd8c51;   
}


.button_comp:hover{
background-color:#40565c;
}



/// CREATION INTRO ///



.creations_intro{
    
    background-color: #bd8c51;
    width:100%;
    min-height: 586px;
    
    
}

.peintre{
    float:left;
    margin-top: 50px;
    width:300px;
    height: 300px;
    border: solid 10px #ebd6bb; 
     
}



.text_creations_intro{
    float: right;
    text-align: justify;
    margin-top: 50px;
    height: 400px;
    width:400px;
    
}

.button_crea{
    float:center;
    margin-top: 25px;
    margin-left:75px;
    color: #bd8c51;
    text-align: center;
    height:40px;
    width:260px;
    background-color: #f2e0c8;
    
}

.button_crea:hover{
color:#f2e0c8;
background-color:#40565c;
}





//Footer//

.linkedin{
position: absolute;
margin-left: 40px;
background-image: url(../img/linkedin-icon.png);
background-size: 30px 30px;
width: 30px;
height:30px;
background-repeat: no-repeat;
}

.linkedin:hover{
background-image: url(../img/linkedin-icon-hover.png);
background-size: 30px 30px;
background-repeat: no-repeat;
}

.linkedin_link{
    display: block;
    height: 30px;
    width: 30px;
}


.instagram{
background-image: url(../img/ig-icon.png);
background-size: 30px 30px;
width: 30px;
height:30px;
background-repeat: no-repeat;
}

.instagram:hover{
background-image: url(../img/ig-icon-hover.png);
background-size: 30px 30px;
background-repeat: no-repeat;
}

.ig_link{
    display: block;
    height: 30px;
    width: 30px;
}


/// PAGE HISTOIRE ///

.post-title{

    margin-top: 5%;

}

.histoire-langues{
    text-align: justify; 
    
}

///image page histoire///

.mon_histoire{
    max-height: 100%;
    max-width: 100%;
    margin-bottom: 5%;
    
}

//button CV//

.button_cv{
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 35px;
    color: #f2e0c8;
    text-align: center;
    border:5px outset grey;
    background-color: #40565c;
    
}

.button_cv:hover{
background-color:#bd8c51;
border:5px outset orange;
}


/// PAGE COMPETENCES ///

.Justify{
text-align: justify;
margin-bottom: 10%;
    
}


.conteneur_comp{
    margin:0 3% 0 3%;
    padding: 0;
    float: left;
    text-align: center;
       
}



@media screen and (max-width: 680px) {

    .conteneur_comp{
    float: none;
    margin-left: auto;
    margin-right: auto
        
    }
    
}


////PAGE CREATIONS///



.gallery img{
    padding: 0;
    margin: 5% 10px 0 0;
    transition: 0.5s;
    
}

.gallery img:hover{
    filter:grayscale(100%);
    transform: scale(1.1);
    
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
