---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   22px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

//MON CSS//

//Menu//

.site-logo{  
    height:100px;
    width:100px;
    float: left;
}


#choix_lang{
    color: #40565c !important;
    font-weight: bold;
    position: absolute;
    z-index: 10;
    right:5px;
    text-align: right; 
    line-height: 2em; 
    display: flex;
    flex-direction: row-reverse;
    
}
.fr{
    margin-right: 5px;
    text-transform: uppercase;
}
.de{
    text-transform: uppercase;
    
}

// SLIDER //

.slideshow-container{
display: block;
    
width: 100%;

position: relative;

overflow: hidden;


}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%; 
  max-height: 95vh;
  min-height: 50vh; 
}



.myslides{

display: none;

}



/// FLECHES SLIDER ///



.hold{

position: absolute;
    width: 100%;
    height: 80px;
top: 43%;
}



.fleche_gauche{
    width:100px;
    height:auto;
    cursor: pointer;
}

.fleche_droite{
    position: absolute;
    right: 0;
    width:100px;
    height:auto;
    cursor: pointer;

}

.fleche_droite:hover,.fleche_gauche:hover{
  opacity: 0.7;
  filter: alpha(opacity=70);
}



@media screen and (max-width: 600px) {

    .fleche_gauche{
    width:15%;
    height:auto;
        
    }
    .fleche_droite{
    width:15%;
    height:auto;
    

}
    
}



.caption{
width: 100%;
position: absolute;
top:35%;

}

.caption h1{
padding: 0;
margin: 0;
text-align: center;
color:#f2e0c8;
font-size: 8vw;
text-shadow: black 2px 2px;
    
}


@media screen and (max-width: 600px) {
.caption{
top:40%;
    
    }}  






/// fin flèches slider///







///CERCLES SLIDER ///

.hold_dots{
top:83vh;
position: absolute;
z-index: 50;
display: inline-block;
text-align:center;
width: 100%;
}

@media (max-width: 1500px) {
    
.hold_dots{
top:80%;

}}   


.dots{
 
    
z-index: 50;

width: 13px;

height: 13px;

background: #f2e0c8;

display: inline-block;

border-radius: 50%;

cursor: pointer;

}

.fade{

animation-name:fade;

animation-duration:1.5s;

}

@keyframes fade{

from {opacity: 0.4;}

to {opacity: 1;}

}

.active, .dot:hover {

background-color: #bd8c51;

}




//// FIN SLIDER ///




//H1,H2,H3//

h1{
    padding: 0;
    margin: 0;
    font-family: Spectral;
    font-size: 70px;
    
}


h2{
    padding-top: 3%;
    padding-bottom: 3%;
    margin: 0;
    font-family: Spectral;
    font-size: 50px;
    
}

h3{
    padding: 0;
    margin: 0;
    font-family: Spectral;
    font-size: 25px;
    font-weight: bold;
    
}

@media screen and (max-width: 600px) {
    
    h1{ padding-top: 10%;
        font-size: 48px;}
    
    h2{
        font-size: 35px;}
    
}
    

    

/// TITRE H2 INTRO ///

.title_right{
    text-align: right;
}

.title_left{
    text-align: left;   
}



@media screen and (max-width: 600px) {
.text_center{
    text-align: center;
}}



/// intro///

.intro{
    padding-top: 8%;
    font-family: Spectral;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}


///justifier textes///

p{
text-align:justify;
}
///liens textes///

p a{
    font-weight: bold;
    
}





//HISTOIRE INTRO//



.img_left{
    float:left;
    margin-top: 50px;
    max-width:300px;
    height: auto;
    border: solid 10px #40565c;
    
    
}



.text_right{
    float: right;
    text-align: justify;
    margin-top: 50px;
    max-width:400px;
    height: auto;
    
}

.button_accueil{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
    margin-bottom: 15%;
}

.button_intro{
    display: inline-block;
    padding: 10px 20px;
    color: #f2e0c8;
    text-align: center;
    background-color: #40565c;
    border:5px outset grey;
    
}

.button_intro:hover{
color: #f2e0c8;
background-color:#bd8c51;
border:5px outset orange;
}


/// COMPETENCES  INTRO ///


.competences_intro{
    background-color: #e8d3b6;
    width:100%;
    min-height: 586px;
    
}

.magicien{
    float:right;
    margin-top: 50px;
    max-width:300px;
    height: auto;
    border: solid 10px #40565c; 
    
}


.text_competences_intro{
    
    float: left;
    text-align: justify;
    margin-top: 50px;
    max-width:400px;
    height: auto;
    
}



/// CREATION INTRO ///

.fond_beige{
    
    background-color: #f2e0c8;
    width:100%;
    min-height: 586px;
    
}

.text_creations_intro{
    float: right;
    text-align: justify;
    margin-top: 50px;
    height: 400px;
    width:400px;
    
}



//Footer//

.linkedin{
position: absolute;
margin-left: 40px;
background-image: url(../img/linkedin-icon.png);
background-size: 30px 30px;
width: 30px;
height:30px;
background-repeat: no-repeat;
}

.linkedin:hover{
background-image: url(../img/linkedin-icon-hover.png);
background-size: 30px 30px;
background-repeat: no-repeat;
}

.linkedin_link{
    display: block;
    height: 30px;
    width: 30px;
}


.instagram{
background-image: url(../img/ig-icon.png);
background-size: 30px 30px;
width: 30px;
height:30px;
background-repeat: no-repeat;
}

.instagram:hover{
background-image: url(../img/ig-icon-hover.png);
background-size: 30px 30px;
background-repeat: no-repeat;
}

.ig_link{
    display: block;
    height: 30px;
    width: 30px;
}


/// PAGE HISTOIRE ///



///image page histoire///

.mon_histoire{
    max-height: 100%;
    max-width: 100%;
    margin-bottom: 5%;
    
}

//button dans les pages//

.container{
display: flex;
  justify-content: center;
  align-items: center;
    
}

.button_page{
    margin:auto;
    padding: 10px 20px;
    color: #f2e0c8;
    border:5px outset grey;
    background-color: #40565c;
    display: inline-block;
    text-align: center;

}

.button_page:hover{
color: #f2e0c8;
background-color:#bd8c51;
border:5px outset orange;
}

/// PAGE COMPETENCES ///


.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.conteneur_comp{
    margin:0 3% 0 3%;
    padding: 0;
    float: left;
    text-align: center;
       
}



@media screen and (max-width: 680px) {

    .conteneur_comp{
    float: none;
    margin-left: auto;
    margin-right: auto
        
    }
    
}

////PAGE CREATIONS///


.gallery img{
    padding: 0;
    margin: 5% 10px 0 0;
    transition: 0.5s;
}


.gallery img:hover{
    filter:grayscale(100%);
    transform: scale(1.1);
}
.centrer_img{
    display: inline-block;
}

@media screen and (max-width: 600px) {
    .centrer_img{
        display: inline-block;
        width:100%;
        text-align: center;
    }

    .gallery img{
    margin-top:5%;
    }}


///////PAGE CONTACT////////

input[name="name"], select {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  padding: 12px 20px;
  margin: 0 0 5% 0;
  display: inline-block;
  border: solid 2px #40565c; 
  box-sizing: border-box;
}

textarea{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  padding: 12px 20px;
  margin: 0 0 5% 0;
  display: inline-block;
  border: solid 2px #40565c; 
  box-sizing: border-box;
  resize: none
}

input[type="email"], select {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  padding: 12px 20px;
  margin: 0 0 5% 0;
  display: inline-block;
  border: solid 2px #40565c; 
  box-sizing: border-box;
}


.button_contact{
    margin:auto;
    padding: 10px 20px;
    color: #f2e0c8;
    border:5px outset grey;
    background-color: #40565c;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}


.button_contact:hover{
color: #f2e0c8;
background-color:#bd8c51;
border:5px outset orange;
}



//////////////RESPONSIVE//////////////////

@media screen and (max-width: 600px) {

.responsive{
    display: block;
    float:none;
    margin-right: auto;
    margin-left: auto;
    }
    
    .espace_bas{
        margin-bottom: 5%;
        
    }}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
