<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">Copyright 2020 - GOLOMBEK Vincent</h2>

    <div class="footer-col-wrapper">

        <div class="footer-col footer-col-2">
        
        <a href="https://www.linkedin.com/in/vincent-golombek/" target="_blank">    
            
        <i class="fab fa-linkedin-in"></i>
          </a>
            
         </div>
        
        <div class="footer-col footer-col-2">
          
          <a href="https://www.instagram.com/golombek.vincent/" target="_blank">
        
        <i class="fab fa-instagram"></i>      
        
        </a>
         
        </div>  

        </div>

  </div>    

</footer>

<script src='https://kit.fontawesome.com/a076d05399.js'></script>