<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading"> Copyright 2019 - Vincent GOLOMBEK</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title[page.lang] }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <div class="social-media-list">
          {% if site.github_username %}
            {% include icon-github.html %}

          {% endif %}

          {% if site.twitter_username %}

            {% include icon-twitter.html %}

          {% endif %}
        </div>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description[page.lang] }}</p>
      </div>
    </div>

  </div>

</footer>
